<div class="container">
  <h3 class="text-center">Basic Information</h3>
  <div class="text-center">
    Please fill out (or update) the form below, which will be used in reviewing your application
    for a TA position.
  </div>
  <form *ngFor="let applicationForm of applicationForms" [formGroup]="applicationForm" class="form">
    <div class="row">
      <div class="col-12 col-md-6">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>GPA</mat-label>
          <input matInput placeholder="GPA" formControlName="currentGpa">
          <mat-error
            *ngIf="applicationForm.get('currentGpa').touched && applicationForm.get('currentGpa').hasError('required')">
            GPA is <strong>required.</strong></mat-error>
          <mat-error *ngIf="applicationForm.get('currentGpa').touched &&
        (applicationForm.get('currentGpa').hasError('min') || applicationForm.get('currentGpa').hasError('max'))">
            GPA should be between <strong>1</strong> and <strong>4 </strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-12 col-md-6">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Level</mat-label>
          <mat-select formControlName="level">
            <mat-option value="undergraduate">Undergraduate</mat-option>
            <mat-option value="graduate">Graduate</mat-option>
            <mat-option value="phd">Ph.D</mat-option>
          </mat-select>
          <mat-error *ngIf="applicationForm.get('level').touched && applicationForm.get('level').hasError('required')">
            Level is <strong>required.</strong></mat-error>
        </mat-form-field>
      </div>
      <div class="col-12 col-md-6">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Course</mat-label>
          <mat-select formControlName="courseNumber">
            <mat-option *ngFor="let course of coursesTitleArray" [value]="course">
              {{course}}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="applicationForm.get('courseNumber').touched && applicationForm.get('courseNumber').hasError('required')">
            Course is <strong>required.</strong></mat-error>
        </mat-form-field>
      </div>
      <div class="col-12 col-md-6">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>GPA In Course</mat-label>
          <input matInput placeholder="GPA In Subject" formControlName="gpaInSubject">
          <mat-error *ngIf="applicationForm.get('gpaInSubject').touched &&
      (applicationForm.get('gpaInSubject').hasError('min') || applicationForm.get('gpaInSubject').hasError('max'))">
            GPA should be between <strong>1</strong> and <strong>4 </strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-checkbox class="example-mat-checkbox" color="primary" formControlName="lookingForCoop">Looking For Co-Ops
        </mat-checkbox>
      </div>
    </div>
    <div class="row my-3">
      <div class="col-12 text-center">
        <button mat-raised-button color="primary" [disabled]="applicationForm.invalid"
          (click)="submitApplication(applicationForm)">{{ applicationForm.value._id ? "Update" : "Submit" }}</button>
      </div>
    </div>
  </form>
  <div class="row">
    <div class="col-12 text-center">
      <button mat-raised-button color="primary" (click)="addNewApplication()"
        [disabled]="applicationForms.length > 2">Add Application</button>
    </div>
  </div>
</div>
