<div class="container text-white">
  <h2> Privacy Policy </h2>
  <p >
    Here at Khoury TAMS, we recognize that when you use our services, you trust us with your information. The closest
    offline equivalent to our website is probably institutional management system. For such a management system, privacy
    is very important, and information is not shared outside the institution. We are committed to ensure that your
    privacy is secured. This privacy policy helps understanding what information we collect and how we use the
    information that you share with us.
<br>
    This website has the potential to provide students and faculty members of an institution access to various
    functionalities. As a student, the user can search course details for all the courses offered in that semester. The
    student can also add and view reviews for a particular course. The student may apply for TA position and fill in
    hours if he/she is working as a TA. The student can follow other users (students or faculty members). Once a user
    follows other user, he/she can view the posts of that user. As a professor, you can accept a student for the TA
    position and post information on your profile that following users can see. These benefits have been facilitated by
    strict privacy norms, since users are sharing their personal information, we see this as our duty to keep their
    information safe.
    <br>
    Information we collect:
    For users who create an account to get access of services:
    In the course of engaging with our service you may provide us information that is sensitive like your name, email,
    phone number. Personal information is provided to us when you sign up to use our services. We may ask for some
    information which is compulsory, and some information may be provided on a voluntary basis. If the user creates an
    account on this website, we may require the user to create a username and password so that the user can access the
    account anytime. We ask the user to put a valid email to create an account. The password that is set by the user is
    stored in an encrypted format and so that the account cannot be accessed by anyone accept the owner of that account.
    <br>
    For anonymous users who do not have account with us:
    As an anonymous user, you can only view the home page of our application which has a list of courses. You can search
    for a course, but you cannot add or view reviews for that course. Other services like applying for TA position,
    following other users are also disabled. We do not collect any information from anonymous user. We only save
    information if the user provides information voluntarily, by creating an account.
    <br>
    Why do we collect information?
    We use this information to know the users that are visiting our site and to provide a secure platform to the users
    once they create an account. On the creation of account, the account is only accessible by the person that provided
    the information and to secure the account the user has to set a password for that account, which is stored in
    encrypted form(as stated above). The information provided to us is used to detect and prevent frauds and also used
    to provide services, support and customer support issues.
    <br>
    Information sharing:
    We understand that your personal information is important to you as it is to us. Your privacy is important for us
    and so we do not share your information with any third parties.
    <br>
    Cookies information:
    We respect the privacy of users that visit our website and provide information to us by creating an account. We do
    not collect any information without the knowledge of the user and thus we do not use any cookies to collect and
    store information. Only the information which is provided to us by the user is stored by us.
    <br>
    Changes in the privacy policy:
    If there are any changes in the privacy policy, we may email the users who have created an account on our services,
    prior to the change becoming effective. Our privacy policy is also easily accessible to everyone and is provided at
    the profile page of our website for review by the user.
    If you have any issues regarding the privacy policy, please mail us at privacy-concerns@northeastern.edu or call us
    at 1800-PRIVACY-NEU.
    <br>
  </p>
</div>
