<div class="position-relative">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-8 offset-md-2">
        <mat-tab-group (selectedTabChange)="tabChanged($event)">
          <mat-tab label="Masters in Computer Science">
            <ng-template matTabContent>
              <courses-list [coursesList]="courses$ | async" (assignProfessor)='assignProfessor($event)'
                (viewDetails)="showCourseDetails($event)"> </courses-list>
            </ng-template>
          </mat-tab>
          <mat-tab label="Masters in Data Science">
            <ng-template matTabContent>
              <courses-list [coursesList]="courses$ | async" (assignProfessor)='assignProfessor($event)'
                (viewDetails)="showCourseDetails($event)"> </courses-list>
            </ng-template>
          </mat-tab>
          <mat-tab label="Masters in Cyber Security">
            <ng-template matTabContent>
              <courses-list [coursesList]="courses$ | async" (assignProfessor)='assignProfessor($event)'
                (viewDetails)="showCourseDetails($event)"> </courses-list>
            </ng-template>
          </mat-tab>
          <mat-tab label="Masters in Health Informatics">
            <ng-template matTabContent>
              <courses-list [coursesList]="courses$ | async" (assignProfessor)='assignProfessor($event)'
                (viewDetails)="showCourseDetails($event)"> </courses-list>
            </ng-template>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
<button mat-fab color="primary" class="fab" (click)=showAddCourseDialog()>
  <mat-icon >
    add
  </mat-icon>
</button>
