<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Search Courses">
</mat-form-field>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="Title">
    <th mat-header-cell *matHeaderCellDef> Title </th>
    <td mat-cell *matCellDef="let element"> {{element.Title}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="Course">
    <th mat-header-cell *matHeaderCellDef> Course Number </th>
    <td mat-cell *matCellDef="let element"> {{element.Course}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="CRN">
    <th mat-header-cell *matHeaderCellDef> CRN </th>
    <td mat-cell *matCellDef="let element"> {{element.CRN}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="stream">
    <th mat-header-cell *matHeaderCellDef> Stream </th>
    <td mat-cell *matCellDef="let element"> {{element.stream}} </td>
  </ng-container>

  <ng-container matColumnDef="Instructors">
    <th mat-header-cell *matHeaderCellDef> Instructor(s) </th>
    <td mat-cell *matCellDef="let element"> {{element.Instructors}} </td>
  </ng-container>



  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
