<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">Khoury Admin</a>
</nav> -->

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="Title">
    <th mat-header-cell *matHeaderCellDef> Title </th>
    <td mat-cell *matCellDef="let element"> {{element.Title}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="Course">
    <th mat-header-cell *matHeaderCellDef> Course Number </th>
    <td mat-cell *matCellDef="let element"> {{element.Course}} </td>
  </ng-container>


  <!-- Weight Column -->
  <ng-container matColumnDef="CRN">
    <th mat-header-cell *matHeaderCellDef> CRN </th>
    <td mat-cell *matCellDef="let element"> {{element.CRN}} </td>
  </ng-container>


  <ng-container matColumnDef="Instructors">
    <th mat-header-cell *matHeaderCellDef> Instructor(s) </th>

    <td mat-cell *matCellDef="let element">
      <span *ngIf="element.Instructors != '' && !editing">{{element.Instructors}}
        <i class="btn fa fa-pencil" (click)="editClicked(element)"></i>
      </span>
      <span *ngIf="element.Instructors == ''">
        <select [(ngModel)]="profSelected">
          <option *ngFor="let inst of instructors" [ngValue]="inst">{{inst.Instructors}}</option>
        </select>
        <i class="fa fa-check" (click)="saveClicked()"></i>
      </span> </td>

  </ng-container>

  <ng-container matColumnDef="Buttons">
    Hey
    <button><i class="fa fa-edit"></i></button>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>