<main-navbar></main-navbar>
<div class="container">
  <h2 class="text-center top-margin">User Profile</h2>
<!--  <div class="row">-->
    <form class="form">
      <div class="row">
        <div class="col-12 col-md-6">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput placeholder="First Name" value="Guneet" disabled="true">
          </mat-form-field>
        </div>
        <div class="col-12 col-md-6">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="Last Name">

          </mat-form-field>
        </div>

        <div class="col-12 col-md-6">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Phone Number</mat-label>
            <input matInput placeholder="Phone Number">
          </mat-form-field>
        </div>

        <div class="col-12 col-md-6">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email">
          </mat-form-field>
        </div>

      </div>

      <div class="row my-3">
        <div class="col-12 text-center">
          <button mat-raised-button color="primary">{{ 123 ? "Update" : "Submit" }}</button>
        </div>
      </div>
    </form>
<!--  </div>-->
</div>
